.navbar.navbar-default {
  margin-bottom: 0;
}
.carousel .carousel-inner {
  height: 800px;
  width: auto;
}

@media only screen and (max-width: 1530px) {
  .carousel .carousel-inner {
    height: 700px;
    width: atuo
  }
}

@media only screen and (max-width: 1350px) {
  .carousel .carousel-inner {
    height: 600px;
  }
}

@media only screen and (max-width: 1140px) {
  .carousel .carousel-inner {
    height: 500px;
  }
}

@media only screen and (max-width: 950px) {
  .carousel .carousel-inner {
    height: 450px;
  }
}

@media only screen and (max-width: 850px) {
  .carousel .carousel-inner {
    height: 300px;
  }
}
